.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.board {
  display: grid;
  outline: solid 2px;
  height: 550px;
  width: 584px;
  margin-top: 1%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  background: blue;
}

.blank {
  background: white;
}

.red {
  background: red;
}

.yellow {
  background: yellow;
}

.column-selector {
  display: flex;
  flex-flow: row;
  margin-top: 1%;
  margin-left: 20%;
  margin-right: 20%;
}

.button-div {
  margin-left: 14px;
  margin-right: 14px;
}

h2.player1 {
-webkit-text-stroke: 1px black;
  color: red;
  margin-left: 40%;
}

h2.player2 {
  -webkit-text-stroke: 1px black;
  color: yellow;
  margin-left: 40%;
}